@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<div class="bgVidro rounded text-center p-3">
    <h1>Administração - Roles</h1>
</div>



<div class="container-fluid m-0 bgVidro shadow-lg rounded p-3">
    <table class="table text-white text-center">
        <thead>
            <tr>
                <td>Name</td>
                <td>Id</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>@role.Id</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row justify-content-center">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <a asp-action="Create" class="btn w-100 text-white btn-secondary btn-outline-warning">Criar Role</a>
        </div>
    </div>
</div>