@{
    ViewData["Title"] = "Prevenções";
}

<aside class="bgVidro mt-5 p-4">

    <div class="container mb-3 p-0 d-flex" id="prevencao">
        <img src="/img/vacina.jpg" alt="Imagem de uma seringa,ampolas de vacinas e uma mascara" width="300px">
        <img src="/img/vidas-indigenas-importam.jpg" alt="Imagem de uma seringa,ampolas de vacinas e uma mascara" width="300px">
        <img src="/img/vidas-indigenas-importam1.jpg" alt="Imagem de uma seringa,ampolas de vacinas e uma mascara" width="300px">
        <img src="/img/tribo-mascara.jpg" alt="Imagem de uma seringa,ampolas de vacinas e uma mascara" width="300px">
    </div>

    <div>
        <h3>Medidas preventivas</h3>
        <p>
            Aqui você encontra orientações sobre as vacinas recomendadas para viajantes de áreas de florestas, para aproveitar sua estadia
            com toda segurança que você merece. Atualize seu cartão de vacinas.
        </p>
    </div>

    <table>
        <tr>
            <th><h4>Covid 19</h4></th>
            <th><h4>Febre amarela</h2></th>
            <th><h4>Malária</h4></th>
            <th><h4>Hepatite</h4></th>
        </tr>
        <tr>
            <td>
                O Covid-19 faz parte da família dos coronavírus, micro-organismos em forma de coroa,
                conhecidos por provocaram distúrbios respiratórios e, em alguns casos, gastrointestinais.
            </td>
            <td>
                Causada por um vírus e transmitida por meio da picada de um mosquito. Sintomas como febre,
                dores no corpo, dor de cabeça, comprometimento do fígado e dos olhos e pele amarelada
            </td>
            <td>
                Doença transmitida pela picada da fêmea do mosquito Anopheles.Causa sintomas como febre,
                suores, calafrios, náuseas, vômitos, dor de cabeça e fraqueza.
            </td>
            <td>
                Inflamação do fígado, que geralmente é causada por vírus ou uso de medicamentos. Seus sintomas são,
                cor amarelada na pele e na parte branca dos olhos e o seu tratamento depende do que originou a doença.
            </td>
        </tr>
    </table>
</aside>