@page
@model IndexModel
@{
    ViewData["Title"] = "Gerencie sua conta";
    ViewData["ActivePage"] = "Gerencie sua conta";
}

<div class="container mt-3 justify-content-center">
    <img src="~/img/Indio-computador.png" class="rounded" width="100%" height="auto">
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
